---
import BaseLayout from "../layouts/base-layout.astro";
import Jumbotron from "../components/jumbotron.astro";
---
<BaseLayout title="Home">
    <div class="max-w-4xl mx-auto px-4 md:px-6 sm:px-4 xs:px-6 lg:px-0 xl:px-0 pb-14 text-zinc-700">
		<Jumbotron></Jumbotron>
	</div>
</BaseLayout>